{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h3>Editar </h3>
<div class="card">
    <div class="card-body">
        <form action="/usuarios/edit" method="POST">
        <input type="hidden" name="id" value="{{user._id}}">
            <label for="nome">Nome: </label>
            <input type="text" name="nome" class="form-control" value="{{user.nome}}" required>
            <label for="cpf">CPF(sem pontuação): </label>
            <input type="text" name="cpf" class="form-control" value="{{user.cpf}}" required>
            <label for="email">Email: </label>
            <input type="email" name="email" class="form-control" value="{{user.email}}" required>
            <label for="senha">Senha: </label>
            <input type="password" name="senha" class="form-control"  value="{{user.senha}}" required>
            <label for="senha2">Repita sua senha: </label>
            <input type="password" name="senha2" class="form-control" value="{{user.senha2}}" required>

            <button type="submit" class="btn btn-success mt-4">Editar</button>
        </form>
    </div>
</div>